@page "/editarproducto"
@inject IGenericService<Producto> ProductoService
@inject NavigationManager NavigationManager

<h3>Editar Producto</h3>

@if (producto == null)
{
    <p><em>Obteniendo el producto a editar...</em></p>
}
else
{
    <EditForm Model="producto" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class="form-group mb-2">
            <label for="Nombre">Nombre</label>
            <InputText id="Nombre" class="form-control" @bind-Value="producto.Nombre" />
            <ValidationMessage For="@(() => producto.Nombre)" />
        </div>

        <div class="form-group mb-2">
            <label for="Precio">Precio</label>
            <InputNumber id="Precio" class="form-control" @bind-Value="producto.Precio" />
            <ValidationMessage For="@(() => producto.Precio)" />
        </div>

        <button type="submit" class="btn btn-primary mb-2">Guardar</button>
    </EditForm>
}

@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public int IdProductoEditado { get; set; }

    private Producto? producto;

    protected override async Task OnInitializedAsync()
    {
        producto = await ProductoService.GetByIdAsync(IdProductoEditado);
    }

    private async void Guardar()
    {
        await ProductoService.UpdateAsync(producto);
        NavigationManager.NavigateTo("/productos");
    }
}