
@page "/productos"
@inject IGenericService<Producto> GenericService

<HeaderPage TitlePage="Productos"/>


@if (productos == null)
{
    <p><em>Obteniendo lista de productos...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in productos)
            {
                <tr>
                    <td>@producto.Id</td>
                    <td>@producto.Nombre</td>
                    <td>@producto.Precio.ToString("N2")</td>
                    <td>
                        <a href="/editarproducto?IdProductoEditado=@producto.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

    <a href="/nuevoproducto">Nuevo Producto</a>


@code {
    private List<Producto>? productos;

    protected override async Task OnInitializedAsync()
    {
        productos = await GenericService.GetAllAsync();
    }
}