@page "/editarlocalidad"
@inject IGenericService<Localidad> LocalidadService
@inject NavigationManager NavigationManager

<h3>Editar Localidad</h3>

@if (localidad == null)
{
    <p><em>Obteniendo la localidad a editar...</em></p>
}
else
{
    <EditForm Model="localidad" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class="form-group mb-2">
            <label for="Nombre">Nombre</label>
            <InputText id="Nombre" class="form-control" @bind-Value="localidad.Nombre" />
            <ValidationMessage For="@(() => localidad.Nombre)" />
        </div>

        <button type="submit" class="btn btn-primary mb-2">Guardar</button>
    </EditForm>
}

@code {
    [SupplyParameterFromQuery]
    [Parameter] 
    public int IdLocalidadEditada { get; set; }

    private Localidad? localidad;

    protected override async Task OnInitializedAsync()
    {
        localidad = await LocalidadService.GetByIdAsync(IdLocalidadEditada);
    }

    private async void Guardar()
    {
        await LocalidadService.UpdateAsync(localidad);
        NavigationManager.NavigateTo("/localidades");
    }
}
