@page "/localidades"
@inject IGenericService<Localidad> LocalidadService

<h3>Localidades</h3>

@if (localidades == null)
{
    <p><em>Obteniendo lista de localidades...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var localidad in localidades)
            {
                <tr>
                    <td>@localidad.Id</td>
                    <td>@localidad.Nombre</td>
                    <td>
                        <a href="/editarlocalidad?IdLocalidadEditada=@localidad.Id">Editar</a> 
                    </td>
                    <td>
                        <a href="/nuevalocalidad">Nueva Localidad</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Localidad>? localidades;

    protected override async Task OnInitializedAsync()
    {
        localidades = await LocalidadService.GetAllAsync();
    }
}
