@inject NavigationManager NavigationManager
@inject FirebaseAuthService AuthService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KioscoInformaticoWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-login" aria-hidden="true"></span> @textoLogin
            </NavLink>
        </div>
        @if(isAuthenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="localidades">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Localidades
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="productos">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Productos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="clientes">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Clientes
                </NavLink>
            </div>
        }
        
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isAuthenticated = false;
    private string textoLogin => isAuthenticated ? "Cerrar Sesion":"Login";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await AuthService.IsUserAuthenticated();
        AuthService.OnChangeLogin += ChequeoEstadoLogin;
    }
    public async void ChequeoEstadoLogin()
    {
        isAuthenticated = await AuthService.IsUserAuthenticated();
        StateHasChanged();
    }
}
