@page "/counter"
@inject ILogger<Counter> Logger

<HeaderPage TitlePage="Counter" />

<h1>Ejemplo - Contador</h1>

<p role="status">Contador actual: @currentContador</p>

<button class="btn btn-primary" @onclick="IncrementarContador">Click aqui</button>

@code {
    private int currentContador = 0;

    private void IncrementarContador()
    {
        currentContador++;
        Logger.LogInformation($"Contador incrementado. Valor actual: {currentContador}");
    }

    protected override void OnInitialized()
    {
        Logger.LogInformation($"Pagina Conter inicializada");
    }
}
